@use '../_variables' as vars;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.4rem;
  display: flex; 
  justify-content: center; 
  align-items: center;
  background: rgba(0, 0, 0, 0.98);
  padding: 0 1rem;
  z-index: 9999;
}

.brand {
  width: 120px;
  height: 40px;
  background-image: url('../../assets/svgs/logo-fiap.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.progressWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
  background: #000000;
}

.progress {
  height: 100%;
  background: vars.$color-primary;
  width: 0%;
  transition: width 150ms linear;
}
