@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import './_variables.scss';
@import './_responsive.scss';
@import './components/_sections.module.scss';
@import './components/_navbar.module.scss';

html {
  /* 62.5% makes 1rem = 10px so rem calculations are easier */
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-bg;
  color: $color-text;
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 $space-lg;
}

.section {
  padding: rem(48) 0;
}
