@import './_variables.scss';
@import './_responsive.scss';
@import './components/_sections.scss';
@import './components/_navbar.module.scss';

html {
  /* 62.5% makes 1rem = 10px so rem calculations are easier */
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: $color-bg;
  color: $color-text;
  font-size: 1.6rem; /* 16px base */
  line-height: 1.4;
}

.container {
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 rem(24);
}

.section {
  padding: rem(48) 0;
}
